html, body{
  height: 100%;
  margin: 0;}

  body{
    background: linear-gradient(to right, 
      #f0e68c,
      #d0a3d0, 
      #f0b8c5, 
      #e08080  
    ) ;
    background-size: 400% 400%; 
    animation: gradientMove 10s ease infinite; 
    height: 100%; 
  }

  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }


.start1{
  padding-top:0 !important;
}
.mainhero{
  margin-bottom: 0px !important;
  padding-bottom: 0px !important;
}
.logo-text{
 font-family: noto sans ;
 font-size: 69px;
 line-height: 5;
 color: #A64D79;

 font-weight: 400;
}
.stylish-amp {
  font-family: Playfair Display;
}
.scroll{
  display: inline;
  font-size:22px;
  margin-top:20px;
  color:#3B1C32;
}
.scroll3{
  display:block;
}
h2, p{
  color:#3B1C32;
}  

.p2{
  font-size: 21px;
  background-color:rgb(255, 253, 203);
  color:#A64D79;
  font-weight: bold;
  /* background: linear-gradient(to top, 
  #7780ff,
  #946dd3, 
  #d151eb, 
  #d45555  
); */
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 26px;
}
.aboutus{
  margin-bottom:30px;
  color:#A64D79 !important ;
}
.img22{
  margin-top:0px !important;
  padding-top:0px !important;
}
.venueinfo{
  color:#3B1C32 !important;
} 
.cards2 {
  background: linear-gradient(to right, 
  #f0e68c,
  #d0a3d0, 
  #f0b8c5, 
  #e08080  
) ;
background-size: 400% 400%; 
animation: gradientMove 10s ease infinite; 
height: 100%; 
}

@keyframes gradientMove {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}


.namevenue{
  font-family: noto sans!important; 
  font-size: 16px;
  color: #3B1C32 !important;
  padding-right: 20px;
}
.card{
  background-color: rgb(255, 253, 203) !important ;
  border-radius: 26px;
}
.buto{
  background-color:#A64D79;
  border-radius: 26px;
  padding-left:32px !important;
  padding-right:32px !important;
  padding-top:10px !important;
  padding-bottom:10px !important;
  border: none;
  font-weight: bold;
  color: rgb(255, 253, 203) ;
}
.buto:hover {
  background-color:#3B1C32;
  color: rgb(255, 253, 203) ;
}

.buto2{
  border: none;
  font-weight: bold;
  background-color:#A64D79;
  border-radius: 26px;
  color: rgb(255, 253, 203) ;
  padding-right:10px;
  padding-left:15px;
  padding-top:5px;
  padding-bottom:5px;
}
.buto2:hover {
  background-color:#3B1C32;
  color: rgb(255, 253, 203) ;
}
.buto3{
  border: none;
  font-weight: bold;
  background-color:grey ;
  border-radius: 26px;
  color: rgb(255, 253, 203) ;
  padding-right:15px;
  /* padding-left:10px; */
  padding-top:5px;
  padding-bottom:5px;
}
.buto3:hover {
  background-color:rgb(95, 95, 95);
  color:rgb(255, 253, 203) ;
}
.card-img-top{
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.carousel-inner .carousel-item img {
  border-radius: 26px;
}


